body {
    color: $blue;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
}

nav {
    a {
        color: $blue;
        font-family: 'Space Mono', monospace;
        font-weight: bold;
    }
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    line-height: 1.2;

    @media (max-width: 1024px) {
        font-size: 3rem;
    }
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    line-height: 1.2;
    text-shadow: -3px -3px rgba(19, 19, 19, 0.4);
    text-align: center;
    margin-bottom: 10vh;

    @media (max-width: 360px) {
        font-size: 3.6rem;
    }
}

// force a group of words to stay on the same line
.grouped-text {
    white-space: nowrap;
}

.highlight {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::before {
        background-image: linear-gradient(50deg, transparent 10%, $yellow 10%, $yellow 90%, transparent 90%);
        width: 120%;
        height: 30%;
        content: '';
        position: absolute;
        bottom: 10%;
        left: -10%;
        z-index: -1;
    }
}

footer p {
    color: $grey;
    text-align: center;
}