body {
    background-color: $white;
    color: $black;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: auto 1fr auto;
    height: 100vh;
}

body > * {
    grid-column: 2 / span 1;
}

header {
    grid-column: 1 / span 3;
    padding: 10px 10%;
} 

main {
    display: flex;
    flex-direction: column;
}

section {
    width: 60%;
    padding: 20vh 0;
    color: $blue;

    p {
        padding: 2rem 0;
    }
}
