body {
    background-color: $white;
}

.grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-auto-rows: auto 1fr auto;
    height: 100vh;
}

main {
    margin-top: 20vh;
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
}

.page-section {
    padding: 20vh 0;

    &--blue {
        background-color: $blue;
        color: $grey;
    }

    &--red {
        background-color: $red;
        color: $grey;
    }

    &--yellow {
        background-color: $yellow;
        color: $blue;
    }

}

.about-me p {
    width: 90%;
}
