.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-section {
    padding: 20vh 0;
    position: relative;

    &--grey {
        background-color: $grey;
        background-image: url('../assets/bg-grey.svg');
        background-position: 25% 75%;
        color: $blue;
    }

    &--blue {
        background-color: $blue;
        background-image: url('../assets/bg-blue.svg');
        color: $grey;
    }

    &--red {
        background-color: $red;
        background-image: url('../assets/bg-red.svg');
        background-position: 25% 75%;
        color: $grey;
    }

    &--yellow {
        background-color: $yellow;
        background-image: url('../assets/bg-yellow.svg');
        color: $blue;
    }

}

.landing {
    padding-top: 35vh;
    height: 100vh;

    p {
        width: 60%;
        padding: 2rem 0;
    }
}

.about p {
    width: 60%;
    padding: 10vh 0;
}
