// TODO: refactor buttons to extract common styles (BEM it up!)

.landing-button {
    background-color: $blue;
    color: $grey;
    text-transform: uppercase;

    padding: 10px;

    border: 2px solid transparent;
    border-radius: 20px;

    // text
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;

    padding: 10px;
    transition: background-color 200ms ease-in;

    &:hover, &:focus {
        background-color: $grey;
        color: $blue;
        border: 2px solid $blue;
        transition: background-color 200ms ease-in;

    }
}