.border {
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: -5px;

    &--blue {
        background-image: url('../assets/border-blue.svg');
    }

    &--red {
        background-image: url('../assets/red-border.svg');
    }

    &--grey {
        background-image: url('../assets/grey-border.svg');
    }
}