.project {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-gap: 2em;
    margin: 5rem 0;
    position: relative;
    z-index: 1;

    // background to cover half of mockup and all of project-text
    &::before {
        content: '';
        position: absolute;
        right: 0;
        z-index: -1;
        width: 85%;
        height: 100%;
        background-color: #fafffd;
        border-radius: 30px;
        box-shadow: 5px 5px 0px 0px #faf4cf;
    }

    // container for project text/buttons
    &-text {
        padding: 1em;
        position: relative;
        z-index: 1;
    }

    &__mockup {
        align-self: center;

        img {
            width: 100%;
        }
    }

    &__name {
        font-size: 1.8rem;
        font-family: 'Space Mono', monospace;
        text-align: center;
    }

    &__description {
        padding: 2rem 0;
    }

    &__button {
        color: $blue;
        text-transform: uppercase;
    
        padding: 10px;
    
        border: 2px solid $blue;
    }

}
