.project {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 2em;
    margin: 5rem 0;
    position: relative;
    z-index: 1;

    // background to cover half of mockup and all of project-text
    &::before {
        content: '';
        position: absolute;
        right: 0;
        z-index: -1;
        width: 85%;
        height: 100%;
        background-color: #fafffd;
        border-radius: 30px;
        box-shadow: 5px 5px 0px 0px #faf4cf;
    }

    // container for project text/buttons
    &-text {
        padding: 1em;
        position: relative;
        z-index: 1;
    }

    &__mockup {
        align-self: center;

        img {
            width: 100%;
        }
    }

    &__name {
        font-size: 1.8rem;
        font-family: 'Space Mono', monospace;
        text-align: center;
    }

    &__description {
        padding: 2rem 0;
    }

    &__button {
        // appearance
        background-color: $red;
        color: $grey;
        border: 2px solid transparent;
        border-radius: 20px;

        // text
        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        text-transform: lowercase;

        // box properties
        padding: 10px;
        margin: 5px;
        transition: background-color 200ms ease-in;
        white-space: nowrap;
        min-width: 15ch;
        max-width: 70%;
        flex-grow: 1;

        &:hover {
            background-color: $grey;
            color: $red;
            border: 2px solid $red;
            font-weight: bold;
            transition: background-color 200ms ease-in;
        }
    }

}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
